.upload {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(circle at 0% 0%, var(--color-quinary) 50%, var(--color-tertiary) 75%, var(--color-secondary) 100%);
	animation: 2s linear 0s infinite alternate-reverse background;
	overflow: hidden;
	
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		outline: groove 2px #000;
		width: 40vw;
		height: 25vw;
		
		&--carrousel {
			min-width: 100%;
			margin: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;
			// overflow: hidden;
			
			&__contain {
				position: relative;
				display: flex;
				flex-wrap: nowrap;
				width: 40vh;
				height: 38vh;
				// background-color: #fff;
				overflow: hidden;
				// width: 100%;
				
				&--slideshow {
					position: absolute;
					top: 0;
					display: flex;
					// min-width: 100%;
					// display: flex;
					transition: all .3s ease;
					position: relative;

					&__image {

						&--img {
							object-fit: cover;
							width: 40vh;
							height: 35vh;
							vertical-align: top;
						}

						&--buttom {
							position: absolute;
							padding: .5rem;
							@extend %difuminado;
							transition: all 0.3s ease-in-out;
							outline: none;
							border: none;
							z-index: 10;
							pointer-events: all;
							cursor: pointer;

							&:hover {
								background-color: var(--color-quaternary);
							}
						}
					}

				}
			}

			&__left,
			&__right {
				@extend %button;
				pointer-events: all;
				cursor: pointer;
				z-index: 5;
			}
			
			&__left {
				margin-right: 1rem;
				text-shadow: -2px 0px 0px #fff;
			}
			
			&__right {
				margin-left: 1rem;
				text-shadow: 2px 0px 0px #fff;
			}
			
		}

		&--button {
			position: absolute;
			margin-top: 1rem;
			top: 13vh;
			@extend %button;
		}

		&--input {
			position: absolute;
			margin: 0;
			padding: 0;
			width: inherit;
			height: inherit;
			// outline: none;
			opacity: 0;
			cursor: pointer;
		}
		
		&--showImage {
			display: flex;
			align-items: center;
			justify-content: center;
			// object-fit: contain;
			// overflow: hidden;
			
			&img {
				// height: 40%;
				// width: 40%;
				object-fit: cover;
			}
		}
		
		
		
	}

	
	
}