// *-*-*-*-*-*-*-*-*-*-*-* Imports *-*-*-*-*-*-*-*-*-*-*-*-*
@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.notFound";
@import "5.header";
@import "6.login";
@import "7.upload";
@import "8.employees";
@import "9.register";

%input {
	background: transparent;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.543);
	font-weight: 700;
	letter-spacing: 2px;
	text-indent: 10px;
	text-shadow: 0 0 3px var(--color-text);
}

%inputBtn {
	border: none;
	outline: none;
	font-family: 'Catamaran', sans-serif;
	font-size: font-size(font-size-medium);
	letter-spacing: 2px;
	border-radius:  1rem;
	color: var(--color-text);
	padding: .5vw 1vw;
}

%formSmall {
	font-size: font-size(font-size-regular);
	text-align: center;
	
	a {
		color: var(--color-primary);
		margin-left: .5vw;
		transition: color 0.3s ease-in-out;
		
		&:hover {
			color: var(--color-secondary);
		}
	}
}

/*------ difuminado ------ */
%difuminado {
	border-radius: 8px;
	box-shadow: 0 10px 25px rgba(129, 124, 124, 0.2);
	backdrop-filter: blur(14px);
	background-color: rgba(255, 255, 255, 0.2);
}

/*------ input type file ------ */
%inputFile {
	cursor: pointer;
	position: absolute;
	bottom: -2vw;
	padding: 6px 12px;
	background-color: var(--color-quinary-m);
}

%button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	background: var(--color-secondary);
	color: #fff;
	transition: all 0.5s ease-in-out;
	
	&:hover,
	&:active {
		background: var(--color-quaternary);
		color: var(--color-primary)
	}
}